
/*画面全体*/
.screen {
  background-color:#FDFCE5;
  width: 1280px;  
  height: 720px;
  overflow: hidden;
  font-family:"x12y16pxMaruMonica";/*フォント*/
  font-size: 20px;
  color:#030009;
  font-weight: bold;
  letter-spacing: 4px;
  background-image: url(Background.png);/*背景画像*/
}

/*画面左のBox全体*/
.left-box{
  width:710px;
  height: 710px;
  left:1dvw;
  position: absolute;
}

/*アイテム所持数*/
.total-item{
  width: 100%;
  height: 60px;
  text-align: right;
  line-height:60px;
  background-color: white;
  top:10px;
  left:0px;
  position: absolute;
  font-size:58px;
  color:#f3fdfe;

  /*ボーダーを画像を使って表現*/
  border: 5px solid transparent;
  border-image: url(Border.png) 30 round;
  border-image-slice: 12;
	border-image-repeat: repeat;
	image-rendering: pixelated;
  background-color: #000000;
  z-index: 1;
}
/*1秒当たりの生産量*/
.total-power{
  width: 100%;
  height: 60px;
  text-align: right;
  line-height:60px;
  background-color: white;
  top:90px;
  left:0px;
  position: absolute;
  font-size:48px;
  color:#f3fdfe;

  /*ボーダーを画像を使って表現*/
  border: 5px solid transparent;
  border-image: url(Border.png) 30 round;
  border-image-slice: 12;
	border-image-repeat: repeat;
	image-rendering: pixelated;
  background-color: #000000;
  z-index: 1;
}

/*クリックアイコン*/
.click-icon{
  width: 300px;
  height: 300px;
  text-align: center;
  top:380px;
  left:200px;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
}

.click-icon img{
  max-width: 100%;
  height: 100%;
  position: absolute;
  z-index: 1;
}

#Click_Icon {
  transition: transform 0.3s ease;
}


/*クリックしたときのポップアップ*/
.click-popup{
  font-size: 24px;
  left: 760px;
  top:20px;
  color:#f3fdfe;

  /*ボーダーを画像を使って表現*/
  border: 5px solid transparent;
  border-image: url(Border.png) 30 round;
  border-image-slice: 12;
	border-image-repeat: repeat;
	image-rendering: pixelated;
  background-color: #000000;
  width: auto;
  z-index: 2;
  position: absolute;

}

/*ボーナスアイコンをクリックしたときのポップアップ*/
.bonus-popup{
  font-size: 24px;
  color:#f3fdfe;

  /*ボーダーを画像を使って表現*/
  border: 5px solid transparent;
  border-image: url(Border.png) 30 round;
  border-image-slice: 12;
	border-image-repeat: repeat;
	image-rendering: pixelated;
  background-color: #000000;
  width: auto;
  z-index: 2;
  position: absolute;
}


@keyframes fadein {
  from {opacity: 0;}
  to {opacity: 1;}
}

.fadein {
  animation-name: fadein;
  animation-duration: 0.5s;
}

@keyframes fadeout {
  from {opacity: 1;}
  to {opacity: 0;}
}

.fadeout {
  animation-name: fadeout;
  animation-duration: 1s;
}

/*キャラ*/
.chara {
  width: 480px;
  height: 720px;
  position:fixed;
  left:140px;
  top: 70px;
}


.chara img{
  max-width: 100%;
  height: 100%;
  display: block;
  animation: breathe 2.5s ease-in-out infinite;
}

@keyframes breathe {
  0%, 100% {
    transform: scaleY(1);
  }
  50% {
    transform: scaleY(1.015);
  }
}

/*ボーナスアイコン用*/
.bonus-box{
  width:720px;
  height: 540px;
  position: relative;
  top: 170px;
  z-index: 0;
}
.bonus-icon{
  z-index: 1;
  opacity: 0;
  transition: opacity 2s;
  animation: swing 2s infinite ease-in-out;
}

@keyframes swing {
  0%, 100% { transform: rotate(0deg); }
  25% { transform: rotate(10deg); }
  75%{ transform: rotate(-10deg); }
}


/*画面右のBox全体*/
.right-box{
  width:520px;
  height: 720px;
  position: absolute;
  right:20px;
  top:-8px;
  display: block;
  
}

/* 全てのブラウザでスクロールバーを非表示にする */
::-webkit-scrollbar {
  display: none;  /* Chrome, Safari, Opera */
}
body {
  -ms-overflow-style: none;  /* IE, Edge */
  scrollbar-width: none;  /* Firefox */
}


/*タブ切り替えメニュー*/
.tab-wrap {
  display: flex;
  flex-wrap: wrap;
  margin:20px 0;
  width:516px;
  
}
.tab-wrap:after {
  content: '';
  width: 100%;
  height: 0px;
  display: block;
  order: -1;
}
.tab-label {
  font-weight: bold;
  white-space: nowrap;
  text-align: center;
  padding: 10px;
  order: -1;
  position: relative;
  z-index: 1;
  cursor: pointer;
  flex: 1;
  width:100px;
  top: 0px;
  font-size: 19px;
  left:3px;
  color:#f3fdfe;

  /*ボーダーを画像を使って表現*/
  border: 3px solid transparent;
  border-image: url(Border.png) 30 round;
  border-image-slice: 12;
	border-image-repeat: repeat;
	image-rendering: pixelated;
  background-color: #000000;

  z-index: 2;
}
.tab-label:not(:last-of-type) {
  margin-right: 5px;
}
.tab-content {
  width: 100%;
  height: 100px;
  opacity: 0;
  position: absolute;
  top: 75px;
  overflow:hidden;
  overflow-y:auto;  
  -webkit-overflow-scrolling: touch;
}
/* アクティブなタブ */
.tab-switch:checked+.tab-label {
  color:red;

  /*ボーダーを画像を使って表現*/
  border: 5px solid transparent;
  border-image: url(Border.png) 30 round;
  border-image-slice: 12;
	border-image-repeat: repeat;
	image-rendering: pixelated;
  background-color: #000000;
}

/*施設などのコンテンツを格納してる大元のボックス*/
.tab-switch:checked+.tab-label+.tab-content {
  padding: 5px;
  opacity: 1;
  transition: .5s opacity;
  height: 630px;
  width: 100%;

 /*
  border: 5px solid transparent;
  border-image: url(Border.png) 30 round;
  border-image-slice: 12;
	border-image-repeat: repeat;
	image-rendering: pixelated;
  background-color: #FFFFFF;
  */
}

/* ラジオボタン非表示 */
.tab-switch {
  display: none;
}

/* 施設を格納するBOX */
.box-content {
  width: 495px;
  height: 240px;
  margin-bottom: 2px;
  z-index: 1;
  padding: 5px;
  color:#f3fdfe;

  /*ボーダーを画像を使って表現*/
  border: 5px solid transparent;
  border-image: url(Border.png) 30 round;
  border-image-slice: 12;
  border-image-repeat: repeat;
  image-rendering: pixelated;
  background-color: #000000;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}


/* 共通スタイル */
.buildings-name,
.buildings-gain,
.buildings-price,
.buildings-count {
  flex: 1 0 50%;
  height: 76px;
  line-height:38px;
  text-align: right;
  text-decoration: underline;
  text-underline-offset: 0.2em;
}

/* 施設名 */
.buildings-name {
  font-size: 42px;
  text-align: center;
  line-height:76px;
}

/*生産量、価格、所持数*/
.buildings-gain,
.buildings-price,
.buildings-count {
  font-size: 28px;
}

/* 施設アイコン */
.buildings-icon,
.buildings-icon img {
  width: 76px;
  height: 76px;
  display: block;
}

/* 施設を増やすボタン */
.count-btn {
  position: relative;
  width: 70px;
  height: 70px;
  font-weight: bold;
  transition: all 0.3s ease;
  top: -6px;
  left: 3px;

  /*ボーダーを画像を使って表現*/
  border: 6px solid transparent;
  border-image: url(Border.png) 30 round;
  border-image-slice: 12;
  border-image-repeat: repeat;
  image-rendering: pixelated;
  background-color: #000000;
}

.count-btn:before, .count-btn:after {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  width: 60%;
  height: 3px;
  background: #f3fdfe;
}

.count-btn:before {
  transform: translate(-50%, -50%);
}

.count-btn:after {
  transform: translate(-50%, -50%) rotate(90deg);
}

.count-btn:hover:before, .count-btn:hover:after {
  background: red;
}


/* スキルを格納するBOX */
.box-content-skill {
  width: 495px;
  height: 240px;
  margin-bottom: 2px;
  z-index: 1;
  padding: 5px;
  color:#f3fdfe;

  /*ボーダーを画像を使って表現*/
  border: 5px solid transparent;
  border-image: url(Border.png) 30 round;
  border-image-slice: 12;
  border-image-repeat: repeat;
  image-rendering: pixelated;
  background-color: #000000;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}


/* 共通スタイル */
.skill-name,
.skill-time,
.skill-gist {
  flex: 1 0 50%;
  height: 76px;
  line-height:38px;
  text-align: right;
  text-decoration: underline;
  text-underline-offset: 0.2em;
}

/* スキルアイコン */
.skill-icon,
.skill-icon img {
  width: 76px;
  height: 76px;
  display: block;
  order: 1;
  flex: 1 0 10%;
}

/*スキル名前*/
.skill-name {
  font-size: 42px;
  text-align: center;
  line-height:96px;
  order: 1;
  flex: 1 0 80%;
}

/*スキルの説明*/
.skill-gist {
  font-size: 28px;
  text-align: right;
  line-height:114px;
  order: 2;
  flex:1 0 80%;
}

/* 発動ボタン */
.skill-btn {
  position: relative;
  width: 70px;
  height: 70px;
  font-weight: bold;
  transition: all 0.3s ease;
  border: 6px solid transparent;
  top: 10px;
  left: 3px;

  /*ボーダーを画像を使って表現*/
  border-image: url(Border.png) 30 round;
  border-image-slice: 12;
  border-image-repeat: repeat;
  image-rendering: pixelated;
  background-color: #000000;
  color: #f3fdfe;
  font-size: 50px;
  line-height: 38px;
  margin-top: 10px;
  order: 2;
  flex: 1 0;
}

.skill-btn:hover{
  color: red;
}

/*スキルクールタイム*/
.skill-time {
  font-size: 18px;
  text-align: right;
  line-height:96px;
  order: 3;
  flex: 1 0 80%;
}


/* 強化施設を格納するBOX */
.box-content-extra {
  width: 495px;
  height: auto;
  margin-bottom: 2px;
  z-index: 1;
  padding: 5px;
  color:#f3fdfe;

  /*ボーダーを画像を使って表現*/
  border: 5px solid transparent;
  border-image: url(Border.png) 30 round;
  border-image-slice: 12;
  border-image-repeat: repeat;
  image-rendering: pixelated;
  background-color: #000000;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}


/* 共通スタイル */
.extra-name,
.extra-gist,
.extra-price,
.extra-requirement {
  flex: 1 0 50%;
  height: 76px;
  line-height:38px;
  text-align: right;
  text-decoration: underline;
  text-underline-offset: 0.2em;
}

/* 強化施設名 */
.extra-name {
  font-size: 42px;
  text-align: center;
  line-height:76px;
}

/*説明、条件、価格*/
.extra-gist,
.extra-price,
.extra-requirement {
  font-size: 28px;
}

/* 強化施設アイコン */
.extra-icon,
.extra-icon img {
  width: 76px;
  height: 76px;
  display: block;
}

/* 強化施設を増やすボタン */
.extra-btn {
  position: relative;
  width: 70px;
  height: 70px;
  font-weight: bold;
  transition: all 0.3s ease;
  top: -6px;
  left: 3px;

  /*ボーダーを画像を使って表現*/
  border: 6px solid transparent;
  border-image: url(Border.png) 30 round;
  border-image-slice: 12;
  border-image-repeat: repeat;
  image-rendering: pixelated;
  background-color: #000000;
}

.extra-btn:before, .extra-btn:after {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  width: 60%;
  height: 3px;
  background: #f3fdfe;
}

.extra-btn:before {
  transform: translate(-50%, -50%);
}

.extra-btn:after {
  transform: translate(-50%, -50%) rotate(90deg);
}

.extra-btn:hover:before, .extra-btn:hover:after {
  background: red;
}


.box-content-extra {
  display: grid;
  grid-template-columns: 10% 80%;
  grid-template-rows: repeat(4, 1fr);
  gap: 10px;
}

.extra-icon {
  grid-column: 1 / 2;
  grid-row: 1 / 2;
}

.extra-name {
  grid-column: 2 / 3;
  grid-row: 1 / 2;
  text-align:left
}

.extra-gist {
  grid-column: 2 / 3;
  grid-row: 2 / 3;
  text-align: left;
}

.extra-requirement {
  grid-column: 2 / 3;
  grid-row: 3 / 4;
  text-align: left;
}

.extra-btn {
  grid-column: 1 / 2;
  grid-row: 4 / 5;
  top: -20px;
}

.extra-price {
  grid-column: 2 / 3;
  grid-row: 4 / 5;
  text-align: left;
}


/*ストーリーを格納するBOX*/
.box-content-story {
  width: 495px;
  height: auto;
  margin-bottom: 2px;
  z-index: 1;
  padding: 5px;
  color:#f3fdfe;

  /*ボーダーを画像を使って表現*/
  border: 5px solid transparent;
  border-image: url(Border.png) 30 round;
  border-image-slice: 12;
  border-image-repeat: repeat;
  image-rendering: pixelated;
  background-color: #000000;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

/*ストーリー名*/
.story-name {
  font-size: 42px;
  text-align: left;
  line-height:70px;
  order: 1;
  flex: 1 0 70%;
  text-decoration: underline;
  text-underline-offset: 0.2em;
}

/* 閲覧ボタン */
.story-btn {
  position: relative;
  width: 70px;
  height: 70px;
  font-weight: bold;
  transition: all 0.3s ease;
  border: 6px solid transparent;
  top: -6px;
  left: 3px;

  /*ボーダーを画像を使って表現*/
  border-image: url(Border.png) 30 round;
  border-image-slice: 12;
  border-image-repeat: repeat;
  image-rendering: pixelated;
  background-color: #000000;
  color: #f3fdfe;
  font-size: 50px;
  line-height: 38px;
  margin-top: 10px;
  margin-right: 40px;
  order: 1;
  flex: 1 0;
}

.story-btn:hover{
  color: red;
}